/** Default settings for all panels */
span.ansi-warning,
span.ansi-caution,
span.ansi-danger,
span.ansi-notice,
span.ansi-safety-instructions {
  display: inline-flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
/** Colors */
span.ansi-danger {
  color: white;
  background-color: #c8102e;
}
span.ansi-warning {
  color: black;
  background-color: #ff8200;
}
span.ansi-caution {
  color: black;
  background-color: #ffd100;
}
span.ansi-notice {
  color: white;
  background-color: #c8102e;
}
span.ansi-notice {
  color: white;
  background-color: #0072ce;
}
span.ansi-safety-instructions {
  color: white;
  background-color: #007b5f;
}

/** Border */
span.ansi-warning.ansi-style-border,
span.ansi-caution.ansi-style-border,
span.ansi-danger.ansi-style-border,
span.ansi-notice.ansi-style-border,
span.ansi-safety-instructions.ansi-style-border {
  border: 1px solid black;
}

/** Black on White */
span.ansi-warning.ansi-style-bw,
span.ansi-caution.ansi-style-bw,
span.ansi-danger.ansi-style-bw,
span.ansi-notice.ansi-style-bw,
span.ansi-safety-instructions.ansi-style-bw {
  color: black;
  background-color: white;
}

/** White on Black */
span.ansi-warning.ansi-style-wb,
span.ansi-caution.ansi-style-wb,
span.ansi-danger.ansi-style-wb,
span.ansi-notice.ansi-style-wb,
span.ansi-safety-instructions.ansi-style-wb {
  color: white;
  background-color: black;
}

/** Images **/
span.ansi-danger::before,
span.ansi-warning::before,
span.ansi-caution::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  content: "\00a0";
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.1em;
}

span.ansi-danger::before {
  background-image: url(ANSI-Z535_white_solid_transparent.svg);
}
span.ansi-danger.ansi-style-bw::before {
  background-image: url(ANSI-Z535_black_solid_transparent.svg);
}

span.ansi-warning::before,
span.ansi-caution::before {
  background-image: url(ANSI-Z535_black_solid_transparent.svg);
}

span.ansi-warning.ansi-style-wb::before,
span.ansi-caution.ansi-style-wb::before {
  background-image: url(ANSI-Z535_white_solid_transparent.svg);
}

/** Generated text */

span.ansi-danger::after {
  content: "DANGER";
}
span.ansi-warning::after {
  content: "WARNING";
}
span.ansi-caution::after {
  content: "CAUTION";
}
span.ansi-notice::after {
  content: "NOTICE";
}
span.ansi-safety-instructions::after {
  content: "SAFETY INSTRUCTIONS";
}

/** Localization German */
span.ansi-danger.ansi-lang-de::after {
  content: "GEFAHR";
}
span.ansi-warning.ansi-lang-de::after {
  content: "WARNUNG";
}
span.ansi-caution.ansi-lang-de::after {
  content: "VORSICHT";
}
span.ansi-notice.ansi-lang-de::after {
  content: "HINWEIS";
}
span.ansi-safety-instructions.ansi-lang-de::after {
  content: "Sicherheitshinweise";
}
/** Localization French */
span.ansi-danger.ansi-lang-fr::after {
  content: "DANGER";
}
span.ansi-warning.ansi-lang-fr::after {
  content: "AVERTISSEMENT";
}
span.ansi-caution.ansi-lang-fr::after {
  content: "ATTENTION";
}
span.ansi-notice.ansi-lang-fr::after {
  content: "AVIS";
}
span.ansi-safety-instructions.ansi-lang-fr::after {
  content: "Consignes de Sécurité";
}
/** Localization Spanish */
span.ansi-danger.ansi-lang-es::after {
  content: "PELIGRO";
}
span.ansi-warning.ansi-lang-es::after {
  content: "ADVERTENCIA";
}
span.ansi-caution.ansi-lang-es::after {
  content: "ATENCION";
}
span.ansi-notice.ansi-lang-es::after {
  content: "AVISO";
}
span.ansi-safety-instructions.ansi-lang-es::after {
  content: "Instrucciones de Seguridad";
}
